<a href="https://colab.research.google.com/github/Warfera/Python/blob/estudos_fevereiro_2022/Aula6a9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
nome, idade, altura, peso = 'Jean', 35, 1.94, 100

print(nome,idade, altura, peso)

preco_livro_1 = preco_livro_2 = preco_livro_3 = 50

print(preco_livro_2)

Jean 35 1.94 100
50

In [12]:
idade = int("18")
idade = int(idade)
print(idade)

preco_banana = 1.46
preco_banana = int(preco_banana)
print(preco_banana)

numero = 10
numero  = float(numero)
print(numero )

idade = 18
idade  = str(idade)
print(idade)

18
1
10.0
18

In [16]:
continua = 'sim'
sacola = 0.00
while continua =='sim':
  prod_1 = float(input('Qual o valor do produto? R$ '))
  sacola = sacola + prod_1

  pergunta = input('Você deseja adicionar mais algum produto? Responda sim ou não')
  if pergunta == 'sim':
    print('Oba!')
  else:
    continua = 'não'
    print(f'O preço a pagar por todos estes produtos é: R$ {sacola}')

Qual o valor do produto? R$ 1.50
Você deseja adicionar mais algum produto? Responda sim ou nãosim
Oba!
Qual o valor do produto? R$ 3
Você deseja adicionar mais algum produto? Responda sim ou nãosim
Oba!
Qual o valor do produto? R$ 10
Você deseja adicionar mais algum produto? Responda sim ou nãonão
O preço a pagar por todos estes produtos é: R$ 14.5

In [21]:
nome = 'JEAN'
print(nome.lower())

nome = 'JEAN'
print(nome.capitalize())

txt = 'O curso começa na segunda-feira! Não perca!'
x  = txt.replace('segunda', 'sexta')
print(x)

jean
Jean
O curso começa na sexta-feira! Não perca!

In [38]:
lista = ['Jean','Alice','Daniel','Goguinho', 'Zezo']
print(lista[0])
print(lista[-1])
print(lista[0:3])
print(lista[1: ])
print(lista[ :1])

len(lista)
for x in range(0,len(lista)):
  print(lista[x])

lista.append('Maria')
print(lista)

lista.insert(0,'José')
print(lista)

lista.sort()
print(lista)

lista.sort(reverse=True)
print(lista)

lista.pop(0)
print(lista)

del lista[0]
print(lista)

lista_copia = lista.copy()
lista.append('Jojojojo')
print(lista_copia)

Jean
Zezo
['Jean', 'Alice', 'Daniel']
['Alice', 'Daniel', 'Goguinho', 'Zezo']
['Jean']
Jean
Alice
Daniel
Goguinho
Zezo
['Jean', 'Alice', 'Daniel', 'Goguinho', 'Zezo', 'Maria']
['José', 'Jean', 'Alice', 'Daniel', 'Goguinho', 'Zezo', 'Maria']
['Alice', 'Daniel', 'Goguinho', 'Jean', 'José', 'Maria', 'Zezo']
['Zezo', 'Maria', 'José', 'Jean', 'Goguinho', 'Daniel', 'Alice']
['Maria', 'José', 'Jean', 'Goguinho', 'Daniel', 'Alice']
['José', 'Jean', 'Goguinho', 'Daniel', 'Alice']
['José', 'Jean', 'Goguinho', 'Daniel', 'Alice']

Lista de convidados - Menor de 18 não entra